

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

html{
 width: 100%;
 height: 100%;
}

html:-moz-full-screen {
   width:100%;
   height:100%;
}

html:-webkit-full-screen {
   width:100%;
   height:100%;
}

html:-ms-fullscreen {
   width:100%;
   height:100%;
}

html:fullscreen {
   width:100%;
   height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #666;
  width:100%;
  height:100%;
}

.desktop {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
}

.taskbar {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-color: #6f6f6f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.taskbar-icon {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 100px;
  background-color: #aaaaaa;
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 3px;
  padding: 10px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}

.windows-container{
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}

.launch-url-overlay {
  position: absolute;
  display: none;
  right: 10px;
  top: 55px;
  width: 300px;
  height: 100px;
  z-index: 10;
  background: #dde8f1;
  border-radius: 8px;
  border-top-right-radius: 0px;
  padding: 10px;
  box-shadow: 0px 0px 10px #777;
  /*filter: drop-shadow(0px 0px 20px #999);*/
}

.launch-url-field {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.launchbar-toggler {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 14px;
  background-color: transparent;
  z-index: 1000;
}

/* SB */
.desktop-blur {
  filter: blur(10px) grayscale(0.7) hue-rotate(30deg);
  transition: 0.5s filter ease-out;
}

.desktop-clear {
  filter: none;
  transition: 0.5s filter ease-in;
}

.vertical-centered {
  display: table-cell;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}
.centered {
  text-align: center;
}

.refresh-button {
  width: 16px;
  height: 16px;
  background-image: url(../images/window/refresh-normal.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
}

.launchbar-button-container {
  position: absolute;
  width: 120px;
  bottom: 65px;
  left: -30px;
  display: inline-block;
}

.launchbar-button button {
  color: white;
  background-color: #3c7299;
  width: 100%;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
}

.launchbar-context-menu {
  position: absolute;
  width: auto;
  height: 390px;
  z-index: 999;
  font-family: 'Helvetica';
  font-size: 16px;
/* caused overlay onto launchbar  background-color:#224c67; */
  color:#ffffff;
  font-weight: 400;
  overflow: hidden;
}

.iframe-blocker {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

/* Force the scroll bar to be show in webkit browser (Mac hides by default) */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.35);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

