<div class="search-container">
  <div class="bx--row search-row">
      <div class="bx--col-xs-12 search-section">
        <button class="inputPopover" (click)="inputPopover()">
          <img src="/ZLUX/plugins/org.zowe.zlux.ng2desktop/web/assets/images/launchbar/spyglass-caret.png"/>
        </button>
        <input #searchInput
        placeholder="Type to search"
        class="search-input"
        type="text"
        autocomplete="off"

        (keydown.Tab)="getNextEntity($event)"
        (keydown.shift.Tab)="getPreviousEntity($event)"
        (keydown.enter)="search()"
        (keydown.arrowDown)="tabDown()"
        (keydown.arrowUp)="tabUp()"
        (blur)="removeSuggestions($event)"
        (keydown.Escape)="removeSuggestions($event)"
        name="value">
      </div>
    <div class="search-button">
      <button class="bx--btn bx--btn--primary search-button" type="button" (click)="search()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div *ngIf="displayPopover">
    <div class="arrowDown">
    </div>
    <div class="popoverMenu">
      <div class="popOverExp">
        Click on required option or enter operator in the Search box to define area of interest.
      </div>
      <div class="popoverRows">
        <button type="button" (click)="ibmSearch()">
          IBM knowledge center
        </button>
        <span>or ibmknow:&lt;filename&gt; keyword</span>
      </div>
      <div class="popoverRows">
        <button type="button" (click)="appSearch()">
          My Applications
        </button>
        <span>or myapp:&lt;application&gt; keyword</span>
      </div>
    </div>
  </div>
  <!-- <div class="loading-spinner-container">
    <loading-spinner [options]="{}" *ngIf="loadingQuery"> </loading-spinner>
  </div> -->
  <div class="tab-slider--nav"  *ngIf="searchHandlerResults && searchHandlerResults.length > 0">
    <ul class="tab-slider--tabs" >
      <li class="tab-slider--trigger" [class.active]="viewMode == ''" rel="" (click)="viewMode = ''">All</li>      
      <ng-container *ngFor="let handlerResult of searchHandlerResults">
        <li *ngIf="handlerResult.entries.length > 0" class="tab-slider--trigger"
            [class.active]="viewMode == handlerResult.id" rel="handlerResult.id"
            (click)="viewMode = handlerResult.id">{{handlerResult.shortName}}</li>
      </ng-container>
    </ul>
  </div>
  <div class="tab-slider--container" [ngSwitch]="viewMode">

    <div class="tab-slider--body" *ngSwitchCase="''">
      <div class="search-result" *ngIf="displaySuggestions">

        <div *ngFor="let handlerResult of searchHandlerResults">              
          <div class="marquee">{{handlerResult.longName}}</div>
          <ul #searchResults class="autocomplete-list" *ngIf="handlerResult.entries.length > 0">
            
            <div *ngIf="handlerResult.type.startsWith('web')">
              <li class="url-list"  *ngFor="let entry of handlerResult.entries">
                <div class="entry-icon">
                  <img src="/ZLUX/plugins/org.zowe.zlux.ng2desktop/web/assets/images/search/book.png">
                </div>

                <div>
                  <div class="url-href" (click)="dismiss()">
                    <a href={{entry.data.href}} target="_blank">{{entry.title}}</a>
                  </div>
                  <div>
                    {{entry.summary}}
                  </div>
                </div>
              </li>
            </div>
            
            <div *ngIf="handlerResult.type == 'app'">
              <li class="url-list" *ngFor="let entry of handlerResult.entries"
                  (click)="invokeAction(entry)"
                  (keydown.enter)="invokeAction(entry)">
                <div class="entry-icon">
                  <img [src]="entry.imageRef ? entry.imageRef : '/ZLUX/plugins/org.zowe.zlux.ng2desktop/web/assets/images/missing.png'">
                </div>

                <div>
                  <div class="url-href"
                       (click)="invokeAction(entry)"
                       (keydown.enter)="invokeAction(entry)">{{entry.title}}</div>
                  <div>
                    {{entry.summary}}
                  </div>
                </div>
              </li>
            </div>
            
          </ul>
          <ul #searchResults class="autocomplete-list" *ngIf="handlerResult.entries.length < 1">
            <li class="url-list">
              <span>
                No results found
              </span>
            </li>
          </ul>

        </div>
        
      </div>
    </div>

    <div *ngFor="let handlerResult of searchHandlerResults">
      <div class="tab-slider--body" *ngSwitchCase="handlerResult.id">
        <div class="search-result" *ngIf="displaySuggestions">
          <div class="marquee">{{handlerResult.longName}}</div>
          <ul #searchResults class="autocomplete-list" *ngIf="handlerResult.entries.length > 0">

            <div *ngIf="handlerResult.type.startsWith('web')">
              <li class="url-list"  *ngFor="let entry of handlerResult.entries">
                <div class="entry-icon">
                  <img src="/ZLUX/plugins/org.zowe.zlux.ng2desktop/web/assets/images/search/book.png">
                </div>

                <div>
                  <div class="url-href" (click)="dismiss()">
                    <a href={{entry.data.href}} target="_blank">{{entry.title}}</a>
                  </div>
                  <div>
                    {{entry.summary}}
                  </div>
                </div>
              </li>
            </div>
            
            <div *ngIf="handlerResult.type == 'app'">
              <li class="url-list" *ngFor="let entry of handlerResult.entries"
                  (click)="invokeAction(entry)"
                  (keydown.enter)="invokeAction(entry)">
                <div class="entry-icon">
                  <img [src]="entry.imageRef ? entry.imageRef : '/ZLUX/plugins/org.zowe.zlux.ng2desktop/web/assets/images/missing.png'">
                </div>

                <div>
                  <div class="url-href"
                       (click)="invokeAction(entry)"
                       (keydown.enter)="invokeAction(entry)">{{entry.title}}</div>
                  <div>
                    {{entry.summary}}
                  </div>
                </div>
              </li>
            </div>
            
          </ul>
          <ul #searchResults class="autocomplete-list" *ngIf="handlerResult.entries.length < 1">
            <li class="url-list">
              <span>
                No results found
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    </div>
</div>
