<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->
<div class="launch-widget-popup main-app">
  <div class="bx--grid bx--row bx--col-xs-12">
    <org-zowe-search></org-zowe-search>
    <div class="search-description-section">
      <span class="header-text" *ngIf="displayDescription"> {{searchDescriptor}} </span>
    </div>
  </div>
</div>
<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->
