.search-container {
  margin: 0 20px;
}

.search-row {
  flex-wrap: unset;
  margin-top: 20px;
  /* border: 1px solid rgba(41, 88, 158, 1); */
}

.search-section {
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  padding: 0;
  box-sizing: border-box;
}

.search-input {
  height: 100%;
  border-bottom: 1px solid #29589e;
  border-top: 1px solid #29589e;
  border-left: none;
  border-right: none;
  width: 710px;
  padding: 0 20px;
  flex: 1;
}
/* fix for yellowing of chrome input dom fields */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}
.inputPopover{
  background-color: #FFF;
  border-left: 1px solid #29589e;
  border-top: 1px solid #29589e;
  border-right: none;
  border-bottom: 1px solid #29589e;
  padding: .5rem 0 .5rem .5rem;
  height: 40px;
}
.arrowDown{
  position: absolute;
  bottom: 60px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #dde8f1;
}
.popoverMenu{
  position: absolute;
    top: 81px;
    left: 5px;
    z-index: 1060;
    display: block;
    max-width: 550px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    padding:.75rem;
}
.popoverMenu div button{
  width: 200px;
  margin-right: 1rem;
}
.popOverExp{
  width: 550px;
  margin: 1rem 0;
}
.popoverRows{
  margin: .5rem 0;
}
.search-response-section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0.9em;
}

.header-text {
  display: block;
  margin-bottom: 10px;
}

.loading-spinner-container {
  width: 25%;
  margin: 0 auto;
}


.autocomplete-list {
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  max-height: 23.52rem;
}

.autocomplete-list li {
  cursor: pointer;
  background-color: #fff;
}

.history-list, .suggestions-list, .launch-app-left, .launch-app-right {
  padding: 15px;
}


.history-list {
  color:#663399 !important;
}

.suggestions-list:hover, .suggestions-list.active, .app-list.active, .app-list:hover {
  color: #005bab !important;
}

.search-button {
  float: left;
  height: 40px;
  width: 50px;
  background-color: #29589e;
  color: #FFFFFF;
  border: none;
}

.entity-suggestion {
  position: relative;
}

.entity-suggestion::after {
  position: absolute;
  left: 5px;
  top: 3px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.6;
}

.search-button {
  margin-left: auto;
  font-size: 1.1em;
}

.app-li{
  display: flex;
  justify-content: space-between;
}
.app-list{
  padding: .4rem 0;
}
.url-list{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.book{
  margin: .1rem 1rem 0;
}
.toolbox img{
  width:36px;
  margin:.1rem 1rem 0;
}
.url-href{
  margin-bottom: .5rem;
}
.url-summary{
  line-height: 1.4rem;
}
.marquee{
  margin-top: 2rem;
}
.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.tab-slider--tabs{
  border-bottom: 1px solid rgba(42, 108, 207, 1);
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #345F90;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tab-slider--trigger.active {
    border-bottom:.35rem solid rgba(42, 108, 207, 1);
}
.tab-slider--body {
  margin-bottom: 20px;
}
