.table-section {

}

.bx--data-table-v2.search-table {
  border: 1px solid #e3e3e1;
  margin-bottom: 20px;
}

.search-table thead {
    border-bottom: 3px solid #4173b0;
}

.item-icon {
  text-align: center;
}

.item-info {

}

.item-subtitle {
    font-size: 0.85em;
}

.item-launch {
  text-align: center;
  fill: #265da6;
}

.item-launch svg:hover {
  cursor: pointer;
  fill: #183a67;
}

.app-icon {
  max-width: 35px;
}

.collapse-button {
  margin-right: 10px;
  cursor: pointer;
}

.rotate {
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all .1s linear;
}

.rotate.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(90deg);
}
